 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: darkseagreen;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 645px;
    height: 730px;
    color: white;
    text-align: center;
    padding: 20px 35px;
    border: 1px solid white;
    background-color: #3EAAF5;
    align-items: center;
    margin: 100px auto;
}

.mainText {
    font-size: 40px;
    font-weight: bold;
}

.slimText {
    font-size: 18px;
    width: 430px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.inputsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 220px;
    gap: 10px;
}

.input-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-item {
    width: 48%;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 20px;
    font-size: 16px;
}
.block {
    width: 100%;
    height: 80px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    padding: 5px 25px;
}

.createBtn {
    height: 60px;
    background-color: rgb(12, 214, 113);
    opacity: 0.7;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    margin-top: 10px;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 10px;
}

.topText {
    font-size: 22px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.bottomText {
    font-size: 14px;
    padding-bottom: 5px;
    padding-left: 10px;
}

input[type="radio"] {
    align-self: flex-start;
    margin-top: 15px;
}

input[type="checkbox"] {
    margin-right: 10px;
}